@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <h1 class="site-title"><a href="/">Blazor and Stripe</a></h1>
        <div class="links">
            <a href="https://wellsb.com/csharp/" target="_blank">Tutorials</a>
        </div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
