@page "/"

<div class="jumbotron jumbotron-fluid hero">
    <div class="container-fluid">
        <h1 class="display-4 text-center">Blazor and Stripe</h1>
        <p class="lead text-center">A demo to help you integrate Stripe payments with your Blazor web application</p>
        <hr class="my-4">
        <div class="row lead">
            <div class="col-12 col-lg-6 offset-lg-3 d-flex justify-content-between justify-content-sm-around">
                <a class="btn btn-primary btn-lg" href="/Checkout" role="button">Checkout</a>
                <a class="btn btn-primary btn-lg" href="/ConnectSetup" role="button">Stripe Connect</a>
            </div>
        </div>
    </div>
</div>
